<h1>Editing Bet</h1>
      <%= form_for @bet do |f| %>

        <div class="field">
          <%= f.label :id %><br>
          <%= f.number_field :id %>
        </div>

        <div class="field">
          <%= f.label :n_giornata %><br>
          <%= f.number_field :n_giornata %>
        </div>
         <div class="field">
          <%= f.label :chiudi_concorso %><br>
          <%= f.text_field :chiudi_concorso %>
        </div>

         <div class="field">
          <%= @bet.evento %><br>
          <%= f.label :risultato %><br>
          <%= f.text_field :risultato %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>	
      <% end %>



