  <div id="index-banner" class="parallax-container">
    <br><br>
    <div class="row center">
      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
      	<br>
        <h3><b>Gara tra scommettitori di calcio</b></h3>
        <br>
        <!--%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %-->
        <h5>
        <marquee
          loop="-1"
          scrollamount="1"
          scrolldelay="0"
          direction="up"
          height="30%"
          width="80%"
          align="justify" class="green-text">

          <% @vincite.each do |v| %>
            <%= v.created_at.strftime("%d/%m/%Y") %> Spesa 
            <%= v.puntata11 + v.puntata1x + v.puntatax + v.puntata2 %> 
            Vincita <%= v.vincita %>
            <br>
          <% end %>

        </marquee>
        </h5>
        <br>
        <h6>
          <%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
        </h6>
      </h5>
      </div>
    </div>
    <br><br>
    <div class="parallax"><%= image_tag("background.jpeg") %></div>
  </div>

