  <div id="index-banner" class="parallax-container">
    <br><br>
    <div class="row center">
      <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
      	<br>
        <h5><b><u>Scommesse di calcio</u></b></h5>
        <br>
        <!--%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %-->

      </div>
    </div>
    <div class="row center">    
      <div class="col s10 offset-s1 m3 l3">
        <h6>      
        <!--marquee
          loop="-1"
          scrollamount="1"
          scrolldelay="0"
          direction="up"
          height="100"
          width="80%"
          align="center" class="green-text"-->
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Bacheca EUREKA</span>
                <p>          
                  <% @vincite.each do |v| %>
                    <font color="blue"><%= v.created_at.strftime("%d/%m/%Y") %></font>
                    <font color="red">Vincita</font> <%= v.vincita %> 
                    <br>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s10 offset-s1 m3 l3">
        <%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
      </div>
      <div class="col s10 offset-s1 m3 l3">
        <%= link_to "Eureka", eurekas_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
      </div>      
    </div>
    <div class="parallax"><%= image_tag("background.jpeg") %></div>
  </div>

