<%= form_for(@bilancio) do |f| %>
  <div class="field">
    <%= f.label :'evento1' %><br>
    <%= f.text_field :evento1 %>
  </div>
  <div class="field">
    <%= f.label :'evento2' %><br>
    <%= f.text_field :evento2 %>
  </div>
  <div class="field">
    <%= f.label :'vincita' %><br>
    <%= f.text_field :vincita %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>