<p id="notice"><%= notice %></p>




<div class="row">
  <div class="col s12 m12 l12">
    <h4 class="header center">Scommessa <%= @eureka.evento1 %> - <%= @eureka.evento2 %></h4>
    <div class="card horizontal">
      <div class="card-image blue-grey darken-1">
        <%= image_tag "logo.gif", class: "logo-v-center" %>
      </div>
      <div class="card-stacked">
        <div class="card-content blue-grey darken-1 card-content white-text">

                <p class="cyan-text lighten-5-text">Data evento: <%= @eureka.data.strftime("%d/%m/%Y") %></p>


          <div class="row">
            <div class="col s3 col-offset-s3 m3 l3">
              
            </div>  
            <div class="col s2 m2 l2">
              <b>1-1</b><br>
            </div>
            <div class="col s2 m2 l2">
              <b>1-x</b><br>    
            </div>
            <div class="col s2 m2 l2">
              <b>x</b><br>    
            </div>
            <div class="col s2 m2 l2">
              <b>2</b><br>    
            </div>
          </div>

<hr color="red darken-4">
          <div class="row">
            <div class="col s3 col-offset-s3 m3 l3 testo-quote"> 
              <b>Quote</b> 
            </div>  
            <div class="col s2 m2 l2 testo-quote">
              <%= @eureka.unouno %>
            </div>
            <div class="col s2 m2 l2 testo-quote">   
              <%= @eureka.unox %>
            </div>
            <div class="col s2 m2 l2 testo-quote">  
              <%= @eureka.x %>
            </div>
            <div class="col s2 m2 l2 testo-quote"> 
              <%= @eureka.due %>
            </div>
          </div>

<hr color="red darken-4">          

          <div class="row">
            <div class="col s3 col-offset-s3 m3 l3 testo-verde"> 
              <b>Puntate</b> 
            </div>  
            <div class="col s2 m2 l2 testo-verde">
              <%= number_to_currency(@eureka.puntata11) %>
            </div>
            <div class="col s2 m2 l2 testo-verde">   
              <%= number_to_currency(@eureka.puntata1x) %>
            </div>
            <div class="col s2 m2 l2 testo-verde">  
              <%= number_to_currency(@eureka.puntatax) %>
            </div>
            <div class="col s2 m2 l2 testo-verde"> 
              <%= number_to_currency(@eureka.puntata2) %>
            </div>
          </div>







<% if user_signed_in? %>
  <% if current_user.email == "vinimp@libero.it" then %>
    <%= link_to 'Edit', edit_eureka_path(@eureka) %> |
    <%= link_to 'Back', eurekas_path %>
  <% end %>
<% end %>
