<p id="notice"><%= notice %></p>

<p>
  <strong>Evento1:</strong>
  <%= @eureka.evento1 %>
</p>

<p>
  <strong>Evento2:</strong>
  <%= @eureka.evento2 %>
</p>

<p>
  <strong>Unouno:</strong>
  <%= @eureka.unouno %>
</p>

<p>
  <strong>Unox:</strong>
  <%= @eureka.unox %>
</p>

<p>
  <strong>X:</strong>
  <%= @eureka.x %>
</p>

<p>
  <strong>Due:</strong>
  <%= @eureka.due %>
</p>

<%= link_to 'Edit', edit_eureka_path(@eureka) %> |
<%= link_to 'Back', eurekas_path %>
