<%= form_for(@bet_puntate) do |f| %>
  <% if @bet_puntate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet_puntate.errors.count, "error") %> prohibited this bet_puntate from being saved:</h2>

      <ul>
      <% @bet_puntate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :bet_id %><br>
    <%= f.number_field :bet_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
