<header >
	<nav class="teal lighten-3">
		<div class="container nav-wrapper">
			<%= image_tag "logo.ico", class: "tiny material-icons class-logo" %>
		  <%= link_to "Vinimp-Bet", root_path, class: "brand-logo" %>
		  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">		
			<% if user_signed_in? %>
					<% if @bet_puntate != nil %>	  
				    <% #if !@bet_puntate.chiusura %>
						<% if controller.controller_name != "bet_puntates" %>
				    <% #if controller.controller_name == action_name != "index" %>
				      <li><%= link_to "Schedina", bet_puntates_path(:user_id => @bet_puntate.user_id), class:"waves-effect waves-light btn", :target => "_blank" %></li>
				    <% end %>
				  <% end %>	
			  		<li><%= image_tag current_user.avatar.url(:thumb), class: "tiny material-icons class-logo" %></li>
		  		<li><%= current_user.name %></li>
		  		<li><%= link_to "Esci", destroy_user_session_path, method: :delete if action_name != 'index' %></li>
		  	<% else %>
					<li><%= link_to "Log in", new_user_session_path %></li>
					<li><%= link_to "Registrazione", new_user_registration_path %></li>
				<% end %>			
		  </ul>
		  <ul class="side-nav" id="mobile-demo">
		  	<% if user_signed_in? %>
			    <% if $bet_puntate %>
			      <li><%= link_to "Schedina", bet_puntates_path(:bet_data => $bet_puntate.created_at), class:"waves-effect waves-light btn", :target => "_blank" %></li>
			    <% end %>		  	
		  		<li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
		  	<% else %>
					<li><%= link_to "Log in", new_user_session_path %></li>
					<li><%= link_to "Registrazione", new_user_registration_path %></li>
				<% end %>
		  </ul>
		</div>
	</nav>
</header>